DB_URL=jdbc:mysql://127.0.0.1:3306/second-hand-first-local?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=
SPRING_PROFILES_ACTIVE=local
KAKAO_REST_API_KEY=056cee51c39ba5c1fb1c5e4ea59322c8